.list-view{
	-fx-padding:0;
	-fx-background-insets:0;
}
.list-cell{
	-fx-font: 20pt "Avenir Next";
}
.list-cell:filled:selected{
	-fx-background-insets:0;
	-fx-background-color:rgb(252,194,27);
}
.list-cell:filled:hover{
	-fx-background-color:linear-gradient(rgb(255,220,50),rgb(252,194,27)); 
}
.list-cell{
	-fx-text-fill:rgb(0,0,0);
}
.combo-box{
	-fx-background-radius:10;
}
.root{
	-fx-background:rgb(20,20,20);
	
}
.text-area{
	-fx-background-radius:10;
	-fx-border-radius:10;
}
.text{
	-fx-text-fill:rgb(0,0,0);
}
#text{
	-fx-fill:rgb(252,194,27);
	 
}
.text-field{
	-fx-background-radius:10;
	-fx-accent:rgb(20,20,20);
	-fx-focus-color:rgb(252,194,27);
}
#button{
	-fx-background-radius:10;
	-fx-background-color:linear-gradient(#E5E4E2,#C0C0C0);
	-fx-text-fill:rgb(0,0,0)
}
#button:hover{
	-fx-background-color:linear-gradient(rgb(255,200,100),rgb(240,190,40));
}
#enterID{
	-fx-background-image:url(../../DoNotTouch/Wings.PNG);
	-fx-background-position:center;
}
#submit{
	-fx-background-radius:10;
}
#submit:focused{
	-fx-focus-color:rgb(20,20,20);
	-fx-font-size:1pt;
	-fx-min-height:285px;-fx-max-height:285px;
	-fx-min-width:215px;-fx-max-width:215px;
	-fx-background-color:rgb(20,20,20); 
	-fx-background-image:url(../../DoNotTouch/ThankYou.PNG); 
	-fx-background-repeat:no-repeat;
	-fx-effect:dropshadow(gaussian,rgb(20,20,20),150,0,0,0);
}